# Python Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/backend.log

# React Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.eslintcache

# OS Files
.DS_Store
Thumbs.db

# Do not upload the private key!
*.pem
